* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #e5e5e5;
}

header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header > div {
  width: 80px;
  height: 80.75px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  text-align: center;
}

header > div > img {
  margin: auto;
  width: 30.85px;
  height: 44.51px;
}

header > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #017849;
  margin-right: 80px;
}

.out {
  width: 80%;
  display: flex;
  all: unset;
  text-align: center;
  align-items: center;
}

#janela {
  cursor: pointer;
  position: relative;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  width: 279px;
  height: 124px;
  background: #ffffff;
  margin-top: 165px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  
}

#topoJanela {
  width: 279px;
  height: 58px;
  background: linear-gradient(
    358.25deg,
    rgba(229, 229, 229, 0.68) 19.64%,
    #ffffff 75.78%
  );
  border-radius: 16px 16px 0px 0px;
  text-align: left;

  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

#sair {
text-decoration: none;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;

color: #000000;

}

#baixoJanela{
  display: flex;
  margin-bottom: 20px;
  
}

#conteudo {
  max-width: 1284px;
  margin: 2% auto;
}

#paciente > p {
  padding: 25px 0px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

#conteudos {
  height: 533px;
  margin: auto;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 16px;
}

#topo {
  height: 10%;
  padding: 30px 35px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#botao {
  cursor: pointer;
  width: 197px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  border: none;
  color: #ffffff;
  background: #017849;
  border-radius: 30px;
}

#pesquisa {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 24px 24px;
  display: flex;
  justify-content: space-between;
  width: 504px;
  height: 48px;
}

#pesquisa > input {
  width: 79%;
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;

  padding: 20px;
  border: none;
  border-radius: 24px 0px 0px 24px;
}

#filtrar {
  padding: 14px 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;

  background: #00995d;
  border-radius: 0px 30px 30px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;

  border: #00995d;
  cursor: pointer;
}

#tabela {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  box-sizing: border-box;
  left: 156px;
  top: 301px;
  border: 1px solid #e0e0e0;
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: left;
}

th {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2f80ed;
}

.acoes {
  text-align: center;
  width: 120px;
}

.taBotao {
  all: unset;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#modal,
#modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#fecha,
#fecha2 {
  display: flex;
  justify-content: space-between;
}

#fecha > button,
#fecha2 > button {
  all: unset;
  cursor: pointer;
}

#modal-conteiner,
#modal-conteiner2 {
  border-radius: 10px;
  background-color: #ffffff;
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 1093px;
}

h2 {
  margin-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #00995d;
}

#formularioModal,
#formularioModal2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nPaciente {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  padding: 15px 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.inp {
  width: 300px;
  height: 47.92px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
}

#formButton {
  width: 1093px;
  height: 97px;
  margin-top: 10px;
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#campoO {
  width: 161px;
  left: 32px;
  top: 39px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #616161;
}

#botoes {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  cursor: pointer;
}

#cancela {
  all: unset;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #616161;
  cursor: pointer;
}

#enviar {
  width: 147px;
  height: 48px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;

  background: #00995d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
